extend components/template.pug
block contenidos 
    section.intro 
      .intro__imagen: img(src="images/imagen.png", alt="image")
      .intro__contenido 
        h2 #{titulos[0]}
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsum odit fugit vero ipsa! Et excepturi corrupti cupiditate eaque perspiciatis officia reiciendis sit quis aliquid minus atque ullam, laborum recusandae?
          span Proin sit amet tellus nec nisl bibendum ornare nec at augue. Integer semper feugiat varius.
        a.boton Leer mas
    main.contenido 
      +caja('imagen.png', titulos[1], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. ')
      +caja('imagen.png', titulos[2], 'Quaerat ipsum odit fugit vero ipsa! Et excepturi corrupti cupiditate eaque perspiciatis officia. ')
      +caja('imagen.png', titulos[3], 'Reiciendis sit quis aliquid minus atque ullam, laborum recusandae? ')