-var titulo = "Titulo principal"
-var titulos = ["Titulo Principal", "Subtitulo 1",  "Subtitulo 2",  "Subtitulo 3"]
mixin caja(imagen, titulo, contenido) 
  .caja 
    .caja__imagen: img(src="images/"+imagen , alt="image")
    .caja__contenido 
      h3=titulo
      p=contenido 
      a.boton leer mas 

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/ejercicio-pug.css")
    title Document
  body
    header 
      h1 PlatziGames 
      if usuario
        a Hola #{usuario}
      else 
        a.boton Registro 
    section.intro 
      .intro__imagen: img(src="images/imagen.png", alt="image")
      .intro__contenido 
        h2 #{titulos[0]}
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsum odit fugit vero ipsa! Et excepturi corrupti cupiditate eaque perspiciatis officia reiciendis sit quis aliquid minus atque ullam, laborum recusandae?
          span Proin sit amet tellus nec nisl bibendum ornare nec at augue. Integer semper feugiat varius.
        a.boton Leer mas
    main.contenido 
      +caja('imagen.png', titulos[1], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. ')
      +caja('imagen.png', titulos[2], 'Quaerat ipsum odit fugit vero ipsa! Et excepturi corrupti cupiditate eaque perspiciatis officia. ')
      +caja('imagen.png', titulos[3], 'Reiciendis sit quis aliquid minus atque ullam, laborum recusandae? ')

